


<nav class="navbar navbar-default navbar-expand-lg navbar-light ">

    <%= link_to "BusPool", root_path, class: "navbar-brand", id: "logo" %>
    </br>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
                <ul class="nav navbar-nav"> 
                    <li><%= link_to "Introduction", class: 'btn btn-success my-2 my-sm-0 mr-2'%> </li>
                    <li><%= link_to "Map", class: 'btn btn-success my-2 my-sm-0 mr-2'%></li>
                    <li><%= link_to "Contact Us", class: 'btn btn-success my-2 my-sm-0 mr-2'%></li>
                    <li><%= link_to 'Log in', class: 'btn btn-success my-2 my-sm-0 mr-2'%></li>
                    <li><%= link_to 'Sign up', class: 'btn btn-success my-2 my-sm-0 mr-2'%></li>
                    
                </ul>
            </div>
        </div>
</nav>   
